@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
border: 0;
list-style: none;
appearance: none;
}

body{
  font-family: "Poetsen One", sans-serif;
  font-style: normal;
  width: 100vw;
  height: 100vh;
  font-size: 0.88rem;
  user-select: none;
  overflow-x: hidden;
  background: rebeccapurple;
}
.todo{
width: 100%;
max-width: 540px;
background: white;
margin: 20px auto;
padding: 20px 20px 50px;
border-radius: 10px;
}
.todo h2{
color: indigo;
font-size: 1rem;
display: flex;
align-items: left;
margin-bottom: 20px;
}

.row{
display: flex;
align-items: center;
justify-content: space-between;
background: white;
border-radius: 30px;
padding-left: 20px;
margin-bottom: 25px;
}

input{
flex: 1;
border: none;
outline: none;
background: transparent;
padding: 5px;
font-weight: 14px;
}

button{
border: none;
outline: none;
background: indigo;
padding: 5px 20px;
color: white;
font-size: 16px;
cursor: pointer;
border-radius: 40px;
}

ul li{
list-style: none;
color: indigo;
font-size: 17px;
padding: 12px 8px 12px 50px;
user-select: none;
cursor: pointer;
position: relative;
}
ul li::before{
content:'';
position: absolute;
height: 28px;
width: 28px;
border-radius: 50%;
background-size: cover;
background-position: center;
top: 10px;
left: 8px;
}
ul li.checked{
color: rebeccapurple;
text-decoration: line-through;
}
ul li.checked::before{
background-image: url(https://static.vecteezy.com/system/resources/previews/017/177/781/non_2x/green-tick-check-mark-on-transparent-background-free-png.png);
}
ul li span{
position: absolute;
right: 0;
top: 4px;
width: 40px;
height: 40px;
font-size: 22px;
color: red;
line-height: 40px;
text-align: center;
border-radius: 50%;
}
ul li:hover{
background: whitesmoke;
}
ul li span:hover{
background: whitesmoke;
}
